<!-- Modal-->
<div class="modal fade" id="frm_setup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-body social-profile text-start">
                <div class="modal-toggle-wrapper">
                    <h3>Dados do Usuário</h3>
                    <p>cadastro de usuários por tipo.</p>
                    {{frmUsuario}}
                    <form ng-submit="acao('upsert',null)" class="row g-3">
                        <div class="col-md-8">
                            <label class="form-label" for="inputNome">Nome</label>
                            <input ng-model="frmUsuario.nome" class="form-control" id="inputNome" type="text"
                                placeholder="Informe o nome" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="telefone">Telefone</label>
                            <span id="msg_telefone"></span>
                            <input ng-model="frmUsuario.telefone" ng-blur="verifyExist('telefone','msg_telefone')"
                                class="form-control" id="telefone" type="text" placeholder="Informe o Email" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="email">Email</label>
                            <span id="msg_email"></span>
                            <input ng-model="frmUsuario.email" ng-blur="verifyExist('email','msg_email')"
                                class="form-control" id="email" type="email" placeholder="Informe o Email" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="inputPassword4">Password</label>
                            <input ng-model="frmUsuario.password" class="form-control" id="inputPassword4"
                                type="password" placeholder="Enter Your Password" required>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <label class="form-label" for="inputTypeUser">Tipo</label>
                                <select ng-model="frmUsuario.type_usuario" class="form-select" id="inputTypeUser"
                                    ng-options="opcao.value as opcao.title for opcao in opcoes track by opcao.title"
                                    required>
                                    <option selected="">Seleciona o Tipo de Usuário</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck" type="checkbox">
                                <label class="form-check-label d-block mb-0" for="gridCheck">Check me out</label>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <button class="btn btn-success" type="submit">Salvar </button>
                            <button class="btn btn-warning" type="button" data-bs-dismiss="modal">Fechar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>