<!-- Modal-->
<div class="modal fade" id="frm_setup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-body social-profile text-start">
                <div class="modal-toggle-wrapper">
                    <h3>Dados do Usuário</h3>
                    <p>cadastro de usuários por tipo.</p>

                    <form ng-submit="acao('upsert',null)" class="row g-3">

                        <div class="col-md-6">
                            <label class="form-label" for="inputTypeUser">Tipo</label>


                            <select ng-model="frmUsuario.type_usuario" class="form-select" id="inputTypeUser" required>
                                <option selected="">Seleciona o Tipo de Usuário</option>
                                <option ng-repeat="option in opcoes" ng-value="option.value">{{option.title}}</option>

                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="inputTypeUser">Status</label>

                            <select ng-model="frmUsuario.type_usuario" class="form-select" id="inputTypeUser" required>
                                <option selected="">Seleciona o Status</option>
                                <option ng-repeat="option in opcoesStatus" ng-value="option.value">{{option.title}}
                                </option>

                            </select>
                        </div>
                        <div class="col-md-8">
                            <label class="form-label" for="inputNome">Nome</label>
                            <input ng-model="frmUsuario.nome" class="form-control" id="inputNome" type="text"
                                placeholder="Informe o nome" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="telefone">Telefone</label>
                            <span id="msg_telefone"></span>
                            <input ng-model="frmUsuario.telefone" ng-blur="verifyExist('telefone','msg_telefone')"
                                class="form-control" id="telefone" type="text" placeholder="Informe o Email" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="email">Email</label>
                            <span id="msg_email"></span>
                            <input ng-model="frmUsuario.email" ng-blur="verifyExist('email','msg_email')"
                                class="form-control" id="email" type="email" placeholder="Informe o Email" required>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check">
                                <input ng-model="genSenha" ng-checked="!frmUsuario.id_usr" ng-true-value="true"
                                    ng-false-value="false" class="form-check-input" id="genSenha" type="checkbox">
                                <label class="form-check-label d-block mb-0" for="genSenha">Criar
                                    Senha</label>
                            </div>
                        </div>
                        <!-- confirmar senha -->
                        <div class="row" ng-if="genSenha || !frmUsuario.id_usr">

                            <div class=" col-md-6">
                                <label class="form-label" for="inputPassword4">Senha</label>

                                <input ng-model="frmUsuario.password" class="form-control" id="inputPassword4"
                                    type="password" placeholder="Digite a senha" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="inputConfirm">Confirmar Senha</label>
                                <span class="label text-danger" ng-show="frmUsuario.password !== confirmPass">*Senhas
                                    não coencidem.</span>
                                <input ng-model="confirmPass" class="form-control" id="inputConfirm" type="password"
                                    placeholder="Confirmar senha" required>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="frmUsuario.type_usuario === 'Reseller'">
                            <label class="col-sm-3">Expiração </label>
                            <div class="col-sm-9">
                                <input ng-model="frmUsuario.data_expiracao" class="form-control digits"
                                    id="expiracao-datetime-local-input" type="datetime-local"
                                    value="{{frmUsuario.data_expiracao}}">
                            </div>
                        </div>

                        <!--<div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck" type="checkbox">
                                <label class="form-check-label d-block mb-0" for="gridCheck">Check me out</label>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <button class="btn btn-success" type="submit">Salvar </button>
                            <button class="btn btn-warning" type="button" data-bs-dismiss="modal">Fechar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>